<h1 class="bg-success text-white p-2">ng-content</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-log-in>
        <h2 class="bg-info mb-3 p-2 text-white">log in</h2>
        <button type="submit" class="btn btn-primary">submit</button>
      </app-log-in>
    </div>
    <div class="col-md-6">
      <app-log-in>
        <h2 class="bg-info mb-3 p-2 text-white">sign up </h2>
        <button type="submit" class="btn btn-primary">create account</button>
      </app-log-in>
    </div>
  </div>
</div>


<app-tab-component>
 
  <p> <strong>javascript</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. At commodi deleniti unde. Est, magni. Quasi ut labore possimus, numquam accusamus consequatur id cum repellendus hic?</p>

  <h4 class="text-white ">javascript </h4>
</app-tab-component>
